# Les bibliothèques utilisé 

# Noyau LangChain
langchain==0.3.0
langchain-community==0.3.0
langchain-core==0.3.0
langchain-text-splitters==0.3.0

tiktoken==0.7.0

# Parsing de documents (Baseline Open WebUI)
pypdf==4.3.1
docx2txt==0.8
ftfy==6.2.0

# Pour directoryloader 
python-magic==0.4.27
unstructured==0.15.13

# Pour les embeddings 
langchain-huggingface==0.1.0
sentence-transformers==3.0.1


# Utilitaires
pathlib==1.0.1
typing-extensions==4.12.2
